# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

*.tsbuildinfo

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

Thumbs.db

coverage/
.nyc_output/

*.tmp
.cache/

build/
*.apk
*.aab
*.ipa

app-example

/ios
/android
